@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Rubik:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Rubik", sans-serif;
}
/*Header-Start*/
header{
    padding: 10px 10px;
    background-color: #130f40;
}
.contianer{
    padding: 10px 15px;
    justify-content: space-between;
    display: flex;
}
.Logo_Site{
    padding-left: 50px;
}
ul{
    padding-right: 50px;
    align-items: center;
    display: flex;
}
a{
    color: white;
    padding: 12px;
}
a:hover{
    border-radius: 10px;
    border: white solid 2px;
}
/*Header-End*/
.contianer_Mid{
    text-align: center;
}
h1{
    font-size: 65px;
    font-weight: 500px;
    margin: 10px;
    padding: 10px 0px;
}
p{
    font-size: 20px;
}
.btn-Main{
    cursor: pointer;
    color: white;
    background-color: #191919;
    margin: 30px;
    padding: 10px 25px;
    font-size: large;
    border-radius: 50px;
}
.btn-Main:hover{
    color: #191919;
    background-color: white;
}